#our-team {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 400px;
}

#our-team h1 {
  margin-left: 10%;
  font-size: 3rem;
}

.our-team-paragraph {
  margin-left: 10%;
}

.team-container {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-bottom: 120px;
}

.team-member {
  text-align: center;
}

.team-member iframe {
  width: 100%;
  border: none;
}

.team-member p {
  margin: 10px 5px 15px 5px; /* adds more space below the paragraph */
  font-weight: bold;
}

.tray-divider {
  width: 80vw;
  margin: 40px auto;
  border: none;
  border-top: 1px solid #ccc; /* thin gray line */
}

/* likedin buttons */

.my-linkedin-button {
  border: 1px solid gray;
  background: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.my-linkedin-button:hover {
  background-color: #f0f0f0;
}