.tray-divider {
  width: 80vw;
  margin: 40px auto;
  border: none;
  border-top: 1px solid #ccc; /* thin gray line */
}

.centered-subsidiaries-section {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  padding: 40px 0;
}
